<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
  <!--    start of JS connection-->
    <script src="../Static/bootstrap/js/jquery-3.4.0.js"></script>
    <script src="../Static/bootstrap/js/popper.min.js"></script>
    <script src="../Static/bootstrap/js/bootstrap.js"></script>
<!--    end of JS connection-->
<!--    start of css connection-->
    <link rel="stylesheet" href="../Static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../Static/bootstrap/css/custom.css">
<!--    end of css connection-->
</head>
<body>
<!--start of navigation section-->
<section class="navigation-1">
       <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <!-- Brand -->
      <a class="navbar-brand" href="CAT.html">BLOOM</a>

      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>
</section>
<!--end of navigation section-->
<!--start of second section-->
<section class="two">
    <div class="div-paragraph">
        <h4 class="h4">Lorem ismun koti si amet</h4>
        <p class="paragraph-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque eius fuga id in ipsa molestias, necessitatibus rerum. Ad architecto aspernatur, dolorem dolores error porro
            ratione ut, velit vero, voluptas voluptatem.</p>
        <p class="paragraph-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias ducimus eaque porro? Earum expedita facere illum, natus necessitatibus nostrum odit optio quo quos, repellendus
            sapiente, vitae. Aliquid debitis dignissimos exercitationem.</p>
        <button class="btn-1">Learn more</button>
    </div>
    <div class="img-1">
        <img class="image--1" src="../Static/images/img3.jpg" alt="no image found">
    </div>
</section>
<!--end of second section-->
<!--start of third section-->
<h3 class="heading--heading">This is a heading</h3>
<section class="three">
    <div class="three--1">
        <img src="../Static/images/img1.jpg" alt="no image">
        <h4>Aliquam els dare fet</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium assumenda cupiditate, deleniti modi nostrum nulla ratione voluptatum? Ad assumenda at distinctio facilis, labore perferendis
            quibusdam ratione recusandae repudiandae ut. Voluptatum?</p>  <button class="btn-1">Learn more</button>
    </div>
    <div class="three--2">
        <img src="../Static/images/img2.jpg" alt="no image">
        <h4>Aliquam els dare fet</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi atque deleniti dicta dolor dolore eligendi est eveniet expedita facere facilis fugiat ipsum
            itaque iure iusto laborum minus nam, possimus saepe?</p>  <button class="btn-1">Learn more</button>
    </div>
    <div class="three--3">
        <img src="../Static/images/img5.jpg" alt="no image">
        <h4>Aliquam els dare fet</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, doloremque iure laborum nam odio quis voluptatibus. Asperiores dicta esse excepturi illum minima, molestias nam natus
            nostrum odit officiis reprehenderit suscipit!</p>  <button class="btn-1">Learn more</button>
    </div>
</section>
<!--end of third section-->
<!--start of fourth section-->
<section class="four">
    <div class="latest-posts"><h3>Latest posts</h3>
        <img src="../Static/images/gradient.jpg" alt="no image">
        <p>
            May 27 is the date provided for the image not given
        </p>
        <img src="../Static/images/img6.png" alt="no image">
        <p>
             May 27 is the date provided for the image not given
        </p>
        <img src="../Static/images/img7.jpg" alt="no image">
        <p>
             May 27 is the date provided for the image not given
        </p>
    </div>
    <div class="about div"> <h3>About</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa cupiditate deleniti dignissimos eius, et expedita illo in iusto labore molestias nam officiis perspiciatis
    quidem, rem velit vero voluptas? Minima, quas!</p>
    </div>
    <div class="stay-connected"> <h3>Stay Connected</h3>
<img src="../Static/images/gradient.jpg" alt="no image"><p> facebook
        </p>
        <img src="../Static/images/img6.png" alt="no image"><p>twitter
        </p>
        <p>
        <img src="../Static/images/img7.jpg" alt="no image">    Google
        <p>
         <img src="../Static/images/img7.jpg" alt="no image">    R55
    </div>
</section>
<!--end of fourth section-->
<!--start of footer section-->
<section>
    <div class="container">
  <p>Copyrights @ 2013 all rights reserved web designers.</p>
</div>
</section>
<!--end of footer section-->
</html>