<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
<!--    start of JS connection-->
    <script src="../Static/bootstrap/js/jquery-3.4.0.js"></script>
    <script src="../Static/bootstrap/js/popper.min.js"></script>
    <script src="../Static/bootstrap/js/bootstrap.js"></script>
<!--    end of JS connection-->
<!--    start of css connection-->
    <link rel="stylesheet" href="../Static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../Static/bootstrap/css/custom.css">
<!--    end of css connection-->
</head>
<body>
<h1 class="text-danger">eMobilis Codding School</h1>
<button class="btn btn-info">Home</button>
<a href="About.html"><button class="btn btn-dark">About</button></a>
<button class="btn btn-outline-secondary">Register</button>
<button class="btn btn-success">Gallery</button>
<button class="btn btn-group">Login</button>
<hr>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At beatae consequuntur cumque doloribus ducimus ea eaque, earum fugiat in ipsam
    mollitia nisi porro quasi quod similique sint totam, unde vel?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam eveniet iste nobis non placeat repellat, tempora. Animi aperiam
    commodi consectetur consequuntur corporis doloremque earum fuga id pariatur, sed voluptate.</p>
<hr>
<div>
    <button class="btn btn-success">log in</button>
    <button class="btn btn-warning">log out</button>
</div>
<!--start of tables-->
<div>
    <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
</div>
<!--end of tables-->
<hr>
<div>
    <img src="../Static/images/img1.jpg" class="rounded" alt="Cinque Terre" width="304" height="236">
</div>
<div class="container">
  <h2>Alert Links</h2>
  <p>Add the alert-link class to any links inside the alert box to create "matching colored links".</p>
  <div class="alert alert-success">
    <strong>Success!</strong> You should <a href="#" class="alert-link">read this message</a>.
  </div>
  <div class="alert alert-info">
    <strong>Info!</strong> You should <a href="#" class="alert-link">read this message</a>.
  </div>
  <div class="alert alert-warning">
    <strong>Warning!</strong> You should <a href="#" class="alert-link">read this message</a>.
  </div>
  <div class="alert alert-danger">
    <strong>Danger!</strong> You should <a href="#" class="alert-link">read this message</a>.
  </div>
  <div class="alert alert-primary">
    <strong>Primary!</strong> You should <a href="#" class="alert-link">read this message</a>.
  </div>
  <div class="alert alert-secondary">
    <strong>Secondary!</strong> You should <a href="#" class="alert-link">read this message</a>.
  </div>
  <div class="alert alert-dark">
    <strong>Dark!</strong> You should <a href="#" class="alert-link">read this message</a>.
  </div>
  <div class="alert alert-light">
    <strong>Light!</strong> You should <a href="#" class="alert-link">read this message</a>.
  </div>
</div>
</div>
<div class="container">
  <h2>Spinner Buttons</h2>
  <p>Add spinners to buttons:</p>

  <button class="btn btn-primary">
    <span class="spinner-border spinner-border-sm"></span>
  </button>

  <button class="btn btn-primary">
    <span class="spinner-border spinner-border-sm"></span>
    Loading..
  </button>

  <button class="btn btn-primary" disabled>
    <span class="spinner-border spinner-border-sm"></span>
    Loading..
  </button>

  <button class="btn btn-primary" disabled>
    <span class="spinner-grow spinner-grow-sm"></span>
    Loading..
  </button>
</div>
<div class="container">
  <h2>Breadcrumbs</h2>
  <p>The .breadcrumb class indicates the current page's location within a navigational hierarchy:</p>
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Photos</a></li>
    <li class="breadcrumb-item"><a href="#">Summer 2017</a></li>
    <li class="breadcrumb-item"><a href="#">Italy</a></li>
    <li class="breadcrumb-item active">Rome</li>
  </ul>
</div>
<div class="container mt-3">
  <h2>List Group With Badges</h2>
  <p>Combine .badge classes with utility/helper classes to add badges inside the list group:</p>
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Inbox
      <span class="badge badge-primary badge-pill">12</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Ads
      <span class="badge badge-primary badge-pill">50</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Junk
      <span class="badge badge-primary badge-pill">99</span>
    </li>
  </ul>
</div>

</body>
</html>